{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
 <h1>Add Detail</h1>
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ detail.as_p }}
        {% if detail.errors %}
            <ul class="errorlist">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|capfirst }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit"> Submit </button>
    </form>


{% endblock %}